In [1]:
import glob
import json
#from pyltp import Segmentor #https://pypi.python.org/pypi/pyltp
import jieba  #https://pypi.org/project/jieba/#description
import pandas as pd
import numpy as np

path =r'C:\Users\Tse\Documents\Coursea\Big Datathon\UBS Weibo Data\weibo'
#https://blog.csdn.net/u010105243/article/details/53363416

### Import data files

In [ ]:
#map provinceand city for the comments  df_province_city['ref_id'] need??
df_comment_province_city = pd.merge(df_comment, df_province_city[['province','province_en','city','city_en']], on = ['province','city'])
#map comments info to result df
comment_location = pd.merge(df_comment_province_city, ******result**********, on = ['id','user_id'], how ='left')
#check if comment_location have id not in df_9
(set(comment_location['id']) - set(df_9['id']))

In [11]:
df9_comment = pd.read_json(path + "/Status_Data9_Comment_Data_with_city_code.json")
# rename columns:  u_city -> city, u_province -> province, cid -> id,  uid -> user_id
df9_comment = df9_comment.rename(columns={'u_city': 'city', 'u_province': 'province', 'cid': 'id', 'uid': 'user_id'}).set_index('id')

#df9_comment[df9_comment.duplicated()].shape (6953, 4)

#drop duplicate
df9_comment.drop_duplicates(keep='first', inplace=True)

#df9_comment.shape (10447, 4)

df9_comment.head()

           city         u_name province     user_id
id
G6RevbiBE     2        了不起的查尔斯       11  5048555731
G6RevbiBE     5  Pokerface1001       11  3211419333
G6QJ1aa2Z     3         飞马1515       44  5583941399
G9Ob5sz8r  1000        原来是酱紫的呀      400  5364706506
G8hxKuPiM  1000        云舒Cathy       23  2469315565

In [5]:
df_province_city = pd.read_json(path + "/"+"weibo-china-province-city.json") #no duplicate rows

#df_province_city.shape (502, 9)

df_province_city.head()

,city,city_en,city_sc,city_tc,province,province_en,province_sc,province_tc,ref_id
0,1,Dongcheng,东城,東城,11,Beijing,北京,北京,1011001
1,2,Xicheng,西城,西城,11,Beijing,北京,北京,1011002
2,3,Chongwen,崇文,崇文,11,Beijing,北京,北京,1011003
3,4,Xuanwu,宣武,宣武,11,Beijing,北京,北京,1011004
4,5,Chaoyang,朝阳,朝陽,11,Beijing,北京,北京,1011005

In [6]:
df_province_city.shape

(502, 9)

In [7]:
#map provinceand city for the comments
df_comment_province_city = pd.merge(df_comment, df_province_city, on = ['province','city'])
#map comments info to main df
comment_location = pd.merge(df_comment_province_city, ************, on = 'id', how ='left')

SyntaxError: invalid syntax (<ipython-input-7-3516a2907a7f>, line 4)